<div class="top_page">
  <%= render 'home/side_bar' %>
  <div class="main_content">
    <p class="notice"><%= notice %></p>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <div class="purchase">
      <h1>注文確認画面</h1>
      <table>
        <thead>
          <tr>
            <th class="th_image"></th>
            <th>商品名</th>
          	<th>価格</th>
						<th>購入数</th>
						<th>金額</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td class="favorite_img">
                <%= link_to product_path(item.product.id) do %>
                  <p>no image</p>
                  <!--%= image_tag item.product.image.url %-->
                <% end %>
              </td>
              <td><%= item.product.name %></td>
              <td><%= item.product.price %> 円</td>
              <td><%= item.quantity %></td>
              <td><%= (item.product.price*item.quantity) %> 円</td>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="post_information">
      <h3><span>ご請求金額：</span><%= @total %> 円</h3>
      <h3><span>ご注文者：</span><%= current_user.name %> 様</h3>
      <h3><span>お届け先：</span><%= current_user.address %></h3>
      <h3><span>連絡先：</span><%= current_user.phone %></h3>
      <div class="order_information">
        <%= form_with model: @purchase, url: purchases_path, local: true do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :total_amount, value: @total %>
          <%= f.submit "注文を確定する" %>
        <% end %>
        <%= link_to "戻る", my_cart_path, class: "back_btn" %>
      </div>
    </div>
  </div>
</div>
