<div class="top_page">
  <%= render 'home/side_bar' %>
  <div class="main_content">
    <p class="notice"><%= notice %></p>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <div class="category_box">
      <div>
        <% @categories.each do |category| %>
          <div class="category_bar"><%= category.name %> <おすすめ商品></div>
          <div class="product_bar">
            <% category.children.each do |children| %>
              <% children.products.each do |product| %>
                <div class="top_box">
                  <%= link_to product_path(product.id) do %>
                    <div class="top_box_img">
                      <p>no image</p>
                      <!--%= image_tag product.image.url %-->
                    </div>
                    <div class="top_box_content">
                      <%= product.name %>
                      <p><%= product.price %> 円</p>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>
          </div>
          <div class="top_link">
            <%= link_to "商品一覧で見る", products_path(category_id: category.id) %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
