<div id="<%= dom_id product %>">
  <% if (controller.action_name == 'index') %>
    <div class="product_index_box">
      <div class="product_index_box_img">
        <p>no image</p>
        <!--%= image_tag image.image.url %-->
      </div>
      <div class="product_index_box_content">
        <%= product.name %><br />
        <p><%= product.price %> 円</p>
      </div>  
    </div>
  <% else %>
    <div class="product_show_box">
      <div class="product_show_box_img">
        <p>no image</p>
        <!--% image_tag product.images[0] %-->
      </div>
      <div class="product_show_box_content">
        <%= product.name %><br />
        <p><%= product.price %> 円</p><br />
        <div class="description">
          <%= product.description %>
        </div>
        <div class="cart_box">
          <% if user_signed_in? %>
            <%= button_to "カートに入れる", add_item_path(product_id: @product.id) %>
          <% else %>
            <p>購入するためにはログインをする必要があります</p>
            <%= link_to "ログイン", new_user_session_path, class: "login_btn" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
