<div class="top_page">
  <%= render 'home/side_bar' %>
  <div class="main_content">
    <p style="color: green"><%= notice %></p>
    <div class="product_title">
      <h1>商品一覧</h1>
      <p>全 <%= @products.count %> 件</p>
    </div>
    <div class="product_index">
      <div id="products">
        <% @products.each do |product| %>
          <%= link_to product_path(product) do %>
            <%= render product %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
