<div class="top_page">
  <%= render 'home/side_bar' %>
  <div class="main_content">
    <p class="notice"><%= notice %></p>
    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <div class="product_show_title">
      <h2>- <%= @product.name %> -</h2>
      <div class='favorite_btn'>
      <% if @product.favorited_by?(current_user) %>
        <%= button_to product_favorites_path(@product), method: :delete do %>
          <p>★ お気に入りを解除する</p>
        <% end %>
      <% else %>
        <%= button_to product_favorites_path(@product), method: :post do %>
          <p>☆ お気に入りに登録する</p>
        <% end %>
      <% end %>
    </div>
    </div>
    <div class="show_back">
      <%= link_to "◀︎ 一覧に戻る", products_path, class: "show_back" %>
      <% if user_signed_in? && current_user.admin? %>
        <%= button_to "商品の編集をする", edit_product_path, class: "show_back" %>
        <%= button_to "商品を削除する", @product, method: :delete, data: { confirm: '本当に削除しますか？' }, class: "show_back" %>
      <% end %>
    </div>
    <div class="product_box">
      <%= render @product %>
    </div>
    <%= render 'products/related_product' %>
    <%= render 'products/product_review' %>
  </div>
</div>
